/*
**
**
** General Styles */
body {
    background-color: #f1f1f1;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

ul {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

label {
    cursor: pointer;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

.padding-space {
    padding: 30px 0;
}

.padding-space-half {
    padding: 20px 0 0;
}

.form-control.custom-control {
    background-color: #fbfbfb;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
}

.btn.custom-btn {
    background-color: #60916f;
    color: #fff;
    border-radius: 0px;
}

.btn.custom-btn:hover{
    background-color: #548061;
}

.btn.custom-btn:active:hover, .btn.custom-btn:active:focus {
    background-color: #3e4140;
    color: #fff;
}

/* Burger Menu */
.bt-menu-trigger {
    font-size: 18px;
    position: relative;
    width: 2em;
    height: 2em;
    cursor: pointer;
    margin-top: 20px;
    display: none;
}

.bt-menu-trigger span {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    height: 0.2em;
    margin-top: -0.1em;
    background-color: #fff;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.bt-menu-trigger span:after,
.bt-menu-trigger span:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.bt-menu-trigger span:before {
    -webkit-transform: translateY(-0.5em);
    transform: translateY(-0.5em);
}

.bt-menu-trigger span:after {
    -webkit-transform: translateY(0.5em);
    transform: translateY(0.5em);
}

.bt-menu-trigger.bt-menu-open span:after {
    -webkit-transform: translateY(-0.36em) translateX(0.65em) rotate(45deg) scaleX(0.6);
    transform: translateY(-0.35em) translateX(-0.65em) rotate(-45deg) scaleX(0.6);
}

.bt-menu-trigger.bt-menu-open span:before {
    -webkit-transform: translateY(0.36em) translateX(0.65em) rotate(-45deg) scaleX(0.6);
    transform: translateY(0.35em) translateX(-0.65em) rotate(45deg) scaleX(0.6);
}

@media (max-width: 767px) {
    .bt-menu-trigger {
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .col-mobile {
        width: 100%;
    }
}
