*, *:before, *:after {
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

html {
  /*overflow-y:scroll;*/
}

body {
  font-family:'Titillium Web', sans-serif;
  background-image:url(../../img/welcome.jpg);
  background-repeat:no-repeat;
  background-size:cover;
}

a {
  text-decoration:none;
  color:#6c7170;
  -webkit-transition:.5s ease;
  transition:.5s ease;
}

a:hover {
  color:red;
}

.form {
  background:rgba(255,255,255,0.9);
  padding:40px;
  max-width:600px;
  margin:40px auto;
  margin-top:150px;
  border-radius:5px;
  -webkit-box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);
  box-shadow:0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

@media (max-width: 767px) {
  .form {
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
  }
}

.tab-group {
  list-style:none;
  padding:0;
  margin:0 0 40px 0;
}

.tab-group:after {
  content:"";
  display:table;
  clear:both;
}

.tab-group li a {
  display:block;
  text-decoration:none;
  padding:15px;
  background:rgba(189,193,192,0.25);
  color:#878787;
  font-size:20px;
  float:left;
  width:50%;
  text-align:center;
  cursor:pointer;
  -webkit-transition:.5s ease;
  transition:.5s ease;
}

.tab-group li a:hover {
  background:#3e4140;
  color:#ffffff;
}

.tab-group .active a {
  background:#949d9b;
  color:#ffffff;
}

.tab-content > div:last-child {
  display:none;
}

h1 {
  text-align:center;
  color:gray;
  font-weight:300;
  margin:0 0 40px;
}

label {
  position:absolute;
  -webkit-transform:translateY(6px);
  transform:translateY(6px);
  left:13px;
  color:rgb(156,150,150);
  -webkit-transition:all 0.25s ease;
  transition:all 0.25s ease;
  -webkit-backface-visibility:hidden;
  font-size:15px;
  padding-top:3px;
}

label .req {
  margin:2px;
  color:rgb(251,1,1);
}

label.active {
  -webkit-transform:translateY(50px);
  transform:translateY(50px);
  left:2px;
  font-size:14px;
}

label.active .req {
  opacity:0;
}

label.highlight {
  color:rgb(156,150,150);
}

input, textarea {
  font-size:22px;
  display:block;
  width:100%;
  height:100%;
  padding:5px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color:rgb(92,90,90);
  border-radius:5px;
  -webkit-transition:border-color .25s ease, -webkit-box-shadow .25s ease;
  transition:border-color .25s ease, -webkit-box-shadow .25s ease;
  transition:border-color .25s ease, box-shadow .25s ease;
  transition:border-color .25s ease, box-shadow .25s ease, -webkit-box-shadow .25s ease;
}

input:focus, textarea:focus {
  outline:0;
}

textarea {
  border:2px solid #a0b3b0;
  resize:vertical;
}

.field-wrap {
  position:relative;
  margin-bottom:40px;
}

.top-row:after {
  content:"";
  display:table;
  clear:both;
}

.top-row > div {
  float:left;
  width:48%;
  margin-right:4%;
}

.top-row > div:last-child {
  margin:0;
}

.button {
  border:0;
  outline:none;
  padding:15px 0;
  font-size:2rem;
  font-weight:600;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#949d9b;
  color:#ffffff;
  -webkit-transition:all 0.5s ease;
  transition:all 0.5s ease;
  -webkit-appearance:none;
}

.button:hover, .button:focus {
  background:#3e4140;
}

.button-block {
  display:block;
  width:100%;
}

.forgot {
  margin-top:-20px;
  text-align:right;
}

